@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 54 100% 95%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 160 33% 46%;
    --primary-foreground: 210 40% 98%;

    --secondary: 42 89% 62%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 180 18% 60%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 160 33% 46%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 160 33% 46%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 42 89% 62%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 180 18% 60%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 160 33% 46%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Noto Serif", serif;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(79, 159, 134, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(79, 159, 134, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(79, 159, 134, 0);
  }
}

.pulse {
  animation: pulse 2s infinite;
}

/* Style to completely ignore browser extension attributes for hydration purposes */
[data-gr-ext-installed],
[data-new-gr-c-s-check-loaded],
[data-grammar-editor-extension],
[data-grammarly-extension],
[data-lt-installed],
[data-lt-active],
[extension-version],
[extension-id],
[browser-extension],
[style-handled-by-extension],
[data-extension],
[data-lt-agent] {
  display: revert !important;
}

/* Properly handle attributes starting with data- */
body[data-gr-ext-installed],
body[data-new-gr-c-s-check-loaded],
[data-grammarly-extension],
*[data^="gr-"],
*[data^="data-gr"],
*[data^="grammarly"] {
  display: revert !important;
}
