__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.git
.github
.DS_Store
# Add other files/directories you want to ignore, e.g., frontend build artifacts if in the same repo
# node_modules/
# .next/